body{

    margin: 0px;
    overflow: hidden;
    background-color:lightblue;
    color: #fff;
    font-family: 'Montserrat',sans-serif;
}

.mainbox{

    display: flex;
    font-size: 16px;
    padding: 10px;
}

.sidebar{

    border-radius: 1rem;
    height: 100vh;
    width:25%;
    background-color:#088395;
    margin-right: .62rem;
    padding: .62rem;
    color: white;
}
  
.mainbar{

    border-radius: 1rem;
    height: 100vh;
    width: 75%;
    background-color:#088395;
    overflow-y: auto;
    padding-bottom: 5rem;
}

.user{

    margin-bottom: 1.5rem;
    border-radius: 1rem;
    background-color:  #37B7C3;
    color: white;
    height: 33%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
    padding-bottom: .31rem;
    padding-top: .62rem;
}

.user img {

    margin-top: 1rem;
    height: 7rem;
    width: 7rem;
}

.user a {

    text-decoration: none;
    color: black;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.user a:hover{

    color:white;
    text-decoration: underline;

}

.headings {

    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color:  #37B7C3;
    color: white;
    height: 9%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.1rem;

}

.headings p {

    margin-left: 2rem;
    opacity: 0.7;

}

.headings p:hover {

    opacity: 1;
    cursor: pointer;
}

.navbar{

    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
    background-color:#37B7C3;
    border-top-left-radius: 1rem;
}

input {

    width: 70%;
    height: 40%;
    border-radius: 1rem;
    margin-right: 10px;
    border-color: #071952;
    border-width: 1px;
    padding-left: 1rem;
    font-size:1rem;
}

.search{

    width:3rem;
    height: 40%;
    background-color: #071952;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}


.container{

    width:100%;
    height:22rem;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap:wrap ;
    margin-right: 1rem;
    margin-bottom: 8rem;
    margin-top: 3rem;
}

.box{

    width :20%;
    border-radius: 1rem;
    height: 22rem;
    background-color: #b0e0e6b4;
    margin-right: .7rem;
    margin-bottom: .6rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    font-size: x-large;
}

.box p{

    margin-bottom: 1rem;
}

.box img {

    height: 80%;
    width: 100%;
    border-radius: 1rem;

}

h1{

    margin-top: 3rem;
    margin-left: 3rem;
    color: #FFFFFF;
}

h1:hover{

    text-decoration: underline;
}

hr{

    width: 80%;
    margin-bottom: 5rem;
}

@media(min-width : 1050px) and (max-width:1300px){


    .box p {

        font-size: 15.5px;
    }
}

@media (min-width :700px) and (max-width: 1050px){
    :root{

        font-size: 16px;
    }
    
    body {
      background-color: lightblue;
    }

    body{
        font-size: 10px !important;
    }

    .box img {

        margin-bottom: 1rem;
 
    }

    .box p{

        font-size: 18px;
    }

    h1{
      
        font-size: 20px;
    }

    .headings p {

        font-size: 16px;
        margin-left: 1rem;
        opacity: 0.7;
    
    }

    .box{

        font-size: 14px;
        padding: .25rem!important;
        width:33%;
        height: 20rem !important;
        margin-bottom: 1.2rem;
    }

    .container{

        margin-bottom: 3rem !important;
        margin-top:1.5rem ;
        height: auto !important;
    }
    
}

@media (min-width: 350px) and (max-width: 700px) {

    :root{

        font-size: 15px;
    }
    

    .box p {

        font-size: 12px !important;
        
    }

    h1{
      
        font-size: 16px;
        margin-left: 2rem;
    }

    .sidebar{
    margin-right: .4rem;
    }
    .user img {

        margin-top: 1rem;
        height: 5rem;
        width: 5rem;
    }
    

    .headings p {

        font-size: 14px;
        margin-left: 1rem;
        opacity: 0.7; 
    }

    .headings{

        padding-right: .25rem;
        margin-right: 1rem;
    }

    .mainbox{

        padding:2px;
    }
    
    .box{

        font-size: 14px;
        padding: .25rem!important;
        width:35%;
        height: 13rem !important;
        margin-bottom: 1.5rem;
    }

    .container{

        margin-bottom: 3rem !important;
        margin-top:2rem ;
        height: auto !important;
    }

    hr{
        margin-bottom: 100px;
    }
  }


